html
	head
		title INSPIRE
		meta(charset="utf-8")
		link(href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet")
		script(src="https://code.jquery.com/jquery-3.2.1.min.js")
		script(src="https://use.fontawesome.com/937272718b.js")
		style(type='text/css')
			include ../public/headers.css
			include ../public/match.css
			include ../public/style.css

	body
		div
			a(href='javascript:history.back()')
				div.inspire
					h2 INFORM

			form(class="search" action="/search" method="post")
				input(type="text" name="search" id="autocomplete" list="ingredients", placeholder="Eg. avocado or meat")
				datalist#ingredients
				input(type="submit" id="send" value="")

			div.inspire
				h2 Inspire


		div(class='recipeMatch')
			ul(class='recipeList' style)
				each recipe in recipeMatch
					div.recipe_item
						a(href=recipe.href)
							img(class="recipeImage" src=recipe.thumbnail)
						li #{recipe.title}
