html
  head
    title FOOD
  body

  div
    h1 Result
    -for (var i = 0; i < ingredients.length; i++)
      div
        ul
          li #{ingredients[i].ingredient}
          li #{ingredients[i].co2}
          li #{ingredients[i].category}
          li #{ingredients[i].kilometers}
