html
  head
    title FOOD
  body

  div
    h1 Search for ingredients
    form(method="post" action="/search")
      input(type="text" name="search" placeholder="enter ingredient")
      input(type="submit" value="search")
