html
  head
    title FOOD
    style
      include style.css
    link(href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet")
    script(src="https://use.fontawesome.com/937272718b.js")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")

  body
    div(class="container")
      div(class="text-box")
        h1 What is your Foodprint?
        p We inform you and inspire your consumer choices.

    a(href="http://localhost:3000" id="inform")
      div Inform

    div(class="search")
      input(type="text" name="search" id="autocomplete" list="ingredients", placeholder="Eg. avocado or meat")
      datalist#ingredients
      input(type="submit" id="send" value="")

    a(href="http://localhost:3000" id="inspire")
      div Inspire

    div(class="container")
      img(src="images/logo2.png")

  script.
    $(document).ready(function(){
      $("input[type=text]").keyup(function(){
      var input = $(this).val()
        $.post("/search", {search: input, ajax: true}, (result) => {
          console.log("the result", result)
          //- $("#ingredients").remove()
          for(var i = 0; i < result.ingredients.length; i++){
            $("#ingredients").append("<option>" + result.ingredients[i].ingredient + "</option>")
          }
        })
      })
      $("#send").click(function(){
        let searchCrit = $("#autocomplete").val()
        $("#inform").attr("href", "localhost:3000/search?searchCrit=" + searchCrit)
        $("#inspire").attr("href", "localhost:3000/match?searchCrit=" + searchCrit)
        $.post()
        //- ajax dingen als goed is, dan verandert de achtergrondkleur.
      })

    })



