style
	.color-default {
		background-color: white;
	}

	.color-green {
		background-color: #B9F683;
	}

	.color-yellow {
		background-color: #F6F67F;
	}

	.color-orange {
		background-color: #FFCC91;
	}

	.color-red {
		background-color: #F797A0;
	}

	.title {
		text-align: center;
		position: absolute;
		height: 20px;
		left: 0;
		right: 0;
		width: 100%;
	}

	.footer {
		width: 100%;
		position: absolute;
		left: 0;
		right: 0;
	}

	.inform {
		text-align: center;
		position: relative;
		height: 79px;
	}

	.inspire {
		text-align: center;
		position: relative;
		margin: 0 auto;
		height: 79px;
	}

	.category1 {
		display: none;
	}
	.category2 {
		display: none;
	}
	.category3 {
		display: none;
	}
	.category4 {
		display: none;
	}

	.hide {
		display: none;
	}

	img {
		width: 200px;
		height: auto;
		vertical-align: middle;
	}

	.co2 {
		text-align: center;
	}

	.road {
		text-align: center;
	}

	p.inline {
		display: inline-block;
	}
