body {
  font-family: 'Nunito', sans-serif;
}

h1 {
  font-size: 40px;
  font-weight: 700;
  color: #000;
}

.container {
  position: relative;
  background-image: url("images/bubbles/landing_page_bubles.png");
  border-image: 1px solid black;
  height: 45%;
  text-align: center;
}

.container.text-box {
  position: absolute;
  top: 30%;
}

input[type=text]{
  width: 80%;
  height: 75px;
  margin: 0;
  padding-left: 20px;
  border: none;
  border-radius: 2px;
  z-index: 10000;
}

input[type=submit]{
  font-family: 'FontAwesome';
  font-size: 20px;
  width: 19%;
  height: 75px;
  margin: 0;
  border: none;
  border-radius: 2px;
  margin-right: 2px;
  background-color: white;
}

.container img {
  position: absolute;
  top: 50%;
  left: 45%;
  width: 100px;
  }

