html
  head
    title Food
    style(type='text/css')
      include ../public/headers.css
      include ../public/match.css
      include ../public/style.css
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    link(href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet")

  body
    div(class="top")
      img(src="bubbles/landing_page_bubles.png")
    div(class="search")
      form
    div(class="bottom")
      img(src="bubbles/landing_page_bubles.png")
